
body {
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #e6ffe6; /* Black fallback color */

}
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
.backimage {
  position: relative;
  display: block;
  width: 50%;
  max-width: 600px;
}

/* Make the image to responsive */
.image1 {
  position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.backimage:hover .overlay {
  opacity: 1;
}
.fleft {
	float:left;
}
.fright {
	margin-right : 15%;
	float:right;
}


.headergreen {
 background: linear-gradient(to bottom, #001a00 0%, #999999 100%);
 color:#000000;
 padding:15px;
 text-align:center;
 font-family:life savers;
 font-size:30px;
}
.userin {
	color:#d9d9d9;
	text-align: center;
	font-family:life savers;
	font-size:18px;
}
#loginborder {
	width:310px;
	border: solid 5px #595959;
	border-radius: 5px;
	border-style: double;
}
#submit1 {
	background-color:#686667; 
	font-family:life savers; 
	font-size:18px;
}
#submit1:hover {
	background-color:#808080; 
	font-family:life savers; 
	font-size:25px;
}